body {
    font-family: Tahoma,Arial;
}

h1 {
    font-size: larger;
}

h2 {
    font-size: large;
}

p {
    font-size: initial;
}

img {
    max-height: 100px;
    max-width: 150px;
}

td.changelog_date {
    font-family: Courier New, Courier, monospace;
}

td.changelog_version {
    font-family: Courier New, Courier, monospace;
    font-size: large;
}

td.changelog_hash {
    font-family: Courier New, Courier, monospace;
    font-size: x-small;
}

td.changelog_message {
}
